<div>
    <div class="trunkstore_popup e911">
        <div>
            {{if phone_number}}
                <h3>E911 Service Location for ${phone_number}</h3>
            {{else}}
                <h3>Default E911 Service Location</h3>
            {{/if}}
            <form id="e911" action="#">
                <p class="clear">Address to display on 911 operator console:<p>

                <div>
                    <label>Postal Code</label>
                    <input id="postal_code" type="text" name="postal_code" value="${postal_code}"/>
                </div>

                <div>
                    <label>Address</label>
                    <input type="text" name="street_address" value="${street_address}" />
                </div>

                <div>
                    <label>Ext. Address</label>
                    <input type="text" name="extended_address" value="${extended_address}" />
                </div>

                <div>
                    <label>City</label>
                    <input id="locality" type="text" name="locality" value="${locality}" />
                </div>

                <div>
                    <label>State</label>
                    <input id="region" type="text" name="region" value="${region}" />
                </div>
                {{if status}}
                    <div>
                        <label>Verify Location</label>
                        &nbsp;&nbsp;<a href="http://maps.google.com/maps?q=${latitude},+${longitude}+(Your+E911+Location)&iwloc=A&hl=en" target="_blank">Google Maps</a>
                    </div>
                {{/if}}
                <div class="buttons_centered">
                    <button class="fancy_button blue submit_btn" href="#">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
