<div>
    <div class="number_entry">
        <span class="number" data-phone_number="${phone_number}" data-serverid="${serverid}">${phone_number}</span>

        {{if options.failover}}
            <a href="#" class="edit_failover active">Failover #</a>
        {{else}}
            <a href="#" class="edit_failover">Failover #</a>
        {{/if}}

        {{if options.cnam}}
            <a href="#" class="edit_cnam active">CID</a>
        {{else}}
            <a href="#" class="edit_cnam">CID</a>
        {{/if}}

        {{if options[e911_key]}}
            <a href="#" class="edit_e911 active">e911</a>
        {{else}}
            <a href="#" class="edit_e911">e911</a>
        {{/if}}

        <a href="#" class="unassign">Unassign</a>
        <div class="clear"/>
    </div>
</div>
