<div>
    <div class="number_entry">
        {{if serverid}}
            <span class="number ${status}" data-phone_number="${phone_number}" data-serverid="${serverid}">${phone_number}</span>
        {{else}}
            <span class="number ${status}" data-phone_number="${phone_number}">${phone_number}</span>
        {{/if}}

        <span class="amount">$1.00</span>

        {{if server_name}}
            <span class="did-status">${server_name}</span>
        {{else}}
            <span class="did-status">Unassigned</span>
            <a class="cancel_number" href="#">Cancel</a>
        {{/if}}
    </div>
</div>
